p {
    color: #FCA233;
    text-shadow: 0 0 1px #FF0000, 0 0 3px #000088;
    font-weight: lighter;
}
body {
    color: #333;
    background: url("urban.jpeg");
}
* {
    margin: 0;
    padding: 0;
}
form .submit {
    float: right;
}
form p {
    margin-bottom: 5px;
    color: #666;
    text-shadow: none;
}

form {
    margin-left: 8px;
    padding: 26px 24px 18px;
    font-weight: normal;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: white;
    border: 1px solid #E5E5E5;
    -moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    -khtml-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

/*import for form inputs fields*/
body form .input {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-weight: 200;
    font-size: 24px;
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: none;
    -moz-box-shadow: inset 0px 0px 2px rgba(200,200,200,0.2);
    -webkit-box-shadow: inset 0px 0px 2px rgba(200,200,200,0.2);
    box-shadow: inset 0px 0px 2px rgba(200,200,200,0.2);

    -webkit-transition: -webkit-box-shadow 0.2s ease-out;
    -moz-transition: -moz-box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
}

body form .input:hover, body form .input:focus{
    -moz-box-shadow: inset 0px 0px 6px rgba(200,200,200,0.4);
    -webkit-box-shadow: inset 0px 0px 6px rgba(200,200,200,0.4);
    box-shadow: inset 0px 0px 6px rgba(200,200,200,0.4);

    -webkit-transition: -webkit-box-shadow 0.3s ease-in;
    -moz-transition: -moz-box-shadow 0.3s ease-in;
    -o-transition: box-shadow 0.3s ease-in;
}

input.button, button.button, a.button {
    border-color: #298CBA;
    font-weight: lighter;
    color: white;
    background: #21759B repeat-x scroll left top;
    text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
}

.button {
    font-family: sans-serif;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    border-style: solid;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-top: -3px;
    border-width: 1px;
}
